/*div {
background-color: rgb(233, 196, 183);
 color: black;
 width: 20%;
 text-align: center;
 left: 60%;
 right: 50%;
 transform: translate(-50%,-50%);
 
position: absolute;
 
}
header{
    text-align: center;
    width: 100%;
    height: 10%;
    position: relative;
      
}*/

.h11{
    width: 20%;
    margin-right: 40%;
    color: rgba(255, 255, 255, 0.753); border-radius: 5px ;
    background-color: rgba(211, 20, 20, 0.651);
    
    text-align: center;

}
div{
   
}
header{
    position: relative;
    
    
    
}
body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Flag_map_of_Algeria.svg/2068px-Flag_map_of_Algeria.svg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 40%;
    background-color: #6cf84898;
   
    
}
.pre1{ 
    border-radius: 4px ;
    font-size: 30px;
background-color:rgba(211, 20, 20, 0.5);
width: 18%;
}
ul {
    padding-right: 1%;
    font-size: 20px;
    padding-top: 0%;
}
h2{
    padding-bottom: 0%;
}
table, th, td {
    border:2px solid black;
    text-align: center;
    padding-left: 30px;}
       
img{ margin-right: 1%;
        width: 200px;
        height: 200px;
    border-radius: 5px;
border-top:  2px solid darkred ;
border-left: 2px solid wheat ;
border-right: 2px solid darkgreen ;
border-bottom: 2px solid darkred ;}
   
    
    .www{
        text-align: right;
        margin-right: 0%;
    }
    .qq{ font-size: 20px;
        text-align: right;
        margin-right: 0%;
    }
    .cc{
        list-style-type:square;
        margin-right: 3%;
        text-align: right;
        
    }
    .qqq{ font-size: 20px;
        text-align: right;
        margin-right: 0%;
        background-color: rgba(211, 20, 20, 0.562);}
    .bkc{}
    