.h11{
    
   
    width: 20%;
    
    text-align: center;
    background-color:darkgreen ;
    color: #fff;

}
div{
   
}
header{
    position: relative;
    
    
    
}
body{
    background-image: url(https://rb.gy/muxz5b);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 55%;
    background-color:rgb(93, 163, 99);
    
}
.pre1{
    font-size: 20px;
}
ul {
    padding-right: 1%;
    padding-top: 0%;
}
h2{
    padding-bottom: 0%;
}